*{
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 8px; /* thin Scrollbar */
  height: 8px; /* thin horizontal Scrollbar*/
}
::-webkit-scrollbar-thumb {
  background-color: #a8a8a8; 
  border-radius: 10px; 
}
::-webkit-scrollbar-track {
  background-color: transparent; /* background Track */
}
h2{
  font-size: 48px;
  font-weight: 700;
}