* {
  margin: 0;
  background-color: rgb(245, 245, 245);
}


.top-section {
  display: flex;
  justify-content: space-between;
  margin-left: 16px;
  margin-right: 16px;
}

.top-section-title {
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  top: 128px;
}

.add-task-btn {
    position: absolute;
    left: 372px;
    top: 136px;
    width: 40px;
    height: 40px;
}

.search-section {
  display: flex;
  justify-content: center;
  height: 48px;
  width: 396px;
  background-color: white;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  position: absolute;
  top: 224px;
  left: 16px;
}

.input-field {
  width: 364px;
  height: 32px;
  border: none;
  background-color: white;
}

.search-btn {
  height: 32px;
  width: 48px;
  border: none;
  background-color: white;
}

.seperator {
  width: 1px;
  height: 31px;
}


.content-container {
    width: 396px;
    position: absolute;
    top: 296px;
    left: 16px;
    right: 16px;
}