.main-contant-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  padding: 16px 32px 16px;
  gap: 32px;
  max-width: 1920px;
}

.headline-container{
  display: flex;
  justify-content: space-between;
}

@media (min-width:1025px){
  .main-contant-container{
    margin-left: 232px;
  }
}