.mobile-navbar{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2a3647;
  height: 80px;
  width: 100vw;
}
.navbar-icon-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #cdcdcd;
  height: 76px;
  font-size: 16px;
  gap: 4px;
  border-radius: 16px;
  width: 80px;
}
.navbar-icon-container:hover{
  background-color: #091931;
  color: white;
  
}
.navbar-icon-container:hover .navbar-icon {
  filter: brightness(0) invert(1); /* change icon color to white */
}
.navbar-icon{
  width: 24px;
  height: 24px;
}

@media(min-width: 1024px){
  .mobile-navbar{
    position: absolute;
    top: 0px;
    left: 0;
    height: 100vh;
    width: 232px;
    flex-direction: column;
  }
  .wrapper-header{
    left: 232px;
    width: calc(100vw - 232px);
    z-index: 2;
  }
  header{
    position: relative;
  }
  .mobile-navbar{
    justify-content: center;
  }
}
